body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

.container {
    height: 85%;
    border: 2px solid black;
    display: flex;
    gap: 7px;
    padding: 7px 7px 0px 7px;
}

.leftSide {
    flex: 1;
    border: 2px solid black;
    border-radius: 10px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/*Home and Search section ---------------------------------------*/

.homeAndSearch {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    background-color: rgb(18, 18, 18);
}

.home {
    flex: 1;
    border: 1px solid black;
    display: flex;
    border-radius: 10px;
}

#homeIcon > a, #homeTitle > a {
    color: white;
}

.homeAndSearchIcon {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeAndSearchTitle {
    flex: 5;
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
}

.search {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
}

#searchIcon > a, #searchTitle > a {
    color: rgb(65, 65, 65);
    transition: 200ms ease-in-out;
}

a {
    color: inherit;
    font-size: 1.6rem;
    text-decoration: none;
}

a > p {
    margin: 0%;
    font-family: 'Chillax', sans-serif;
    font-size: 1.2rem;
    font-weight: 550;
}

/*---------------------------------------------------------------*/


/*Your Library section ------------------------------------------*/
.yourLibrary {
    flex: 4;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.condensedVersion {
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.extendedVersion {
    flex: 3;
    border: 1px solid black;
}

#titleAndOtherFunctionalities {
    flex: 1;
    border: 1px solid black;
    display: flex;
    background-color: rgb(18, 18, 18);
}

#title {
    flex: 1;
    border: 1px solid black;
    display: flex;
}

#libraryIcon {
    flex: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#libraryIcon > ion-icon {
    font-size: 1.6rem;
    color: rgb(65, 65, 65);
    transition: 200ms ease-in-out;
}

#libraryTitle {
    flex: 3;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

#libraryTitle > p{
    margin: 0%;
    font-family: 'Chillax', sans-serif;
    font-size: 1.2rem;
    font-weight: 550;
    color: rgb(65, 65, 65);
    transition: 200ms ease-in-out;
}

#libraryIcon > ion-icon, #libraryTitle > p {
    cursor: pointer;
}

#functionalityIcons {
    flex: 1;
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
    gap: 5px;
}

#showMoreIcon {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
    color: rgb(65, 65, 65);
}

#createIcon {
    height: 35px;
    width: 35px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.3rem;
    color: rgb(65, 65, 65);
}

#horizontalScroll {
    flex: 1;
    border: 1px solid black;
}
/*---------------------------------------------------------------*/

.rightSide {
    flex: 2.1;
    border: 2px solid black;
    border-radius: 10px;
}

.footer {
    height: 15%;
    border: 2px solid black;
}
